<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.burlingamerobotics.scouting.server">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.CompetitionSelectionActivity"
            android:label="@string/title_activity_competition_selection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ServerManagerActivity"
            android:label="@string/title_activity_master_management"
            android:parentActivityName=".activity.CompetitionSelectionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CompetitionSelectionActivity" />
        </activity>
        <activity
            android:name=".activity.CompetitionEditorActivity"
            android:label="@string/title_activity_competition_editor"
            android:parentActivityName=".activity.CompetitionSelectionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CompetitionSelectionActivity" />
        </activity>
        <activity
            android:name=".activity.CompetitionInfoActivity"
            android:label="@string/title_activity_competition_info"
            android:parentActivityName=".activity.CompetitionSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.burlingamerobotics.scouting.server.activity.CompetitionSelectionActivity" />
        </activity>

    </application>

</manifest>