<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.burlingamerobotics.scouting.client">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ConnectToServerActivity"
            android:label="@string/title_activity_client_connect"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BrowserActivity"
            android:label="@string/title_activity_client_browser"
            android:parentActivityName=".activity.ConnectToServerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.burlingamerobotics.scouting.client.activity.ConnectToServerActivity" />

        </activity>

        <service android:name=".io.ClientService" />
    </application>
</manifest>
